body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: seashell;
}

nav {
    position: fixed;

}
.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.nav__knop {
    padding: .5em .9em;
    box-sizing: border-box;
    width: 2.7em;
}
.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}
.nav__item {
    margin-top: .1em;
}
.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: .2em .8em;
    transform: translateX(-8.4em);
    transition: transform .8s ease-in-out;
}
.nav__link--shuif-in {
    transform: translateX(0);
}
.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}

.nav__link--shuif-in .nav__tekst {
    animation: ijl-na 2s forwards;
}

@keyframes ijl-na {
    0% { transform: translateX(-2em) rotate(0deg);}
    50% { transform: translateX(0.6em) rotate(5deg);}
    75% { transform: translateX(-.3em) rotate(-5deg);}
    0% { transform: translateX(0) rotate(0deg);}
}

@media screen and (min-width: 600px) {
    .nav {
        flex-direction: row;
        width: 100vw;
    }
    .nav__item {
        margin-top: 0;
        margin-left: .1em;
        flex: 1 0 auto;
    }
    .nav__link {
        transform: translateY(-2em);
    }
    .nav__link--shuif-in {
        transform: translateY(0);
    }
    .nav__link--shuif-in .nav__tekst {
        animation: ijl-na-vert 2s forwards;
    }
    
    @keyframes ijl-na-vert {
        0% { transform: translateY(-1em) rotate(0deg);}
        50% { transform: translateY(0.1em) rotate(5deg);}
        75% { transform: translateY(-.05em) rotate(-5deg);}
        0% { transform: translateY(0) rotate(0deg);}
    }
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.vlakje, .vlakje2 {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 15vw;
    height: 15vw;
    transform: translateX(2em);
    transition: transform 1s cubic-bezier(.12,.66,.64,1.09);
    box-shadow: 0px 0px 50px black;
    filter: blur(.25em);
}
.animeer-knop {
    height: 1.5em;

}

.vlakje__naar-links {
    transform: translateX(-70vw) rotate(-360deg);
    
}

.vlakje__naar-rechts {
    transform: translateX(70vw) rotate(360deg);
    
}

.fas.verberg {
    display: none;
}